WSFAlimentos/Connected Services/SWTipo/WSTipo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service/" targetNamespace="http://service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="countTipo" type="tns:countTipo" />
  <xs:element name="countTipoResponse" type="tns:countTipoResponse" />
  <xs:element name="createTipo" type="tns:createTipo" />
  <xs:element name="createTipoResponse" type="tns:createTipoResponse" />
  <xs:element name="editTipo" type="tns:editTipo" />
  <xs:element name="editTipoResponse" type="tns:editTipoResponse" />
  <xs:element name="findAllTipo" type="tns:findAllTipo" />
  <xs:element name="findAllTipoResponse" type="tns:findAllTipoResponse" />
  <xs:element name="findRangeTipo" type="tns:findRangeTipo" />
  <xs:element name="findRangeTipoResponse" type="tns:findRangeTipoResponse" />
  <xs:element name="findTipo" type="tns:findTipo" />
  <xs:element name="findTipoResponse" type="tns:findTipoResponse" />
  <xs:element name="removeTipo" type="tns:removeTipo" />
  <xs:element name="removeTipoResponse" type="tns:removeTipoResponse" />
  <xs:element name="tipoProducto" type="tns:tipoProducto" />
  <xs:complexType name="findTipo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findTipoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionTp" type="xs:string" />
      <xs:element minOccurs="0" name="idTp" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllTipo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllTipoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createTipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createTipoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeTipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeTipoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="countTipo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="countTipoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editTipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editTipoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRangeTipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="range" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRangeTipoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>